:root {
  --logo-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --white: #ffffff;
  --footer-nav: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
}
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-color);
}
.logo-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-color);
}
.navigation {
  list-style-type: none;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color);
}
.navigation-link:hover {
  color: var(--logo-color);
}
.navigation-link:focus {
  color: var(--logo-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}
.contacts:hover {
  color: var(--logo-color);
}
.hero {
  background-color: var(--hero-background-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--logo-color);
  color: var(--white);
}
.advants {
  list-style-type: none;
}
.advants-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.advants-list {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.about-us-head {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.what-we-do-images {
  list-style-type: none;
}
.what-we-do-image-list {
  width: 370px;
  height: 294px;
}
.our-team {
  background: var(--our-team-background-color);
}
.our-team-head {
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
}
.our-team-list {
  list-style-type: none;
  background-color: var(--white);
}
.our-team-photo {
  width: 270px;
  height: 260px;
}
.our-team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.our-team-person-profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
footer {
  background-color: var(--hero-background-color);
}
.logo-part-footer {
  color: var(--white);
}
.footer-navigation {
  list-style-type: none;
}
footer .contacts {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-nav);
}
address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white);
}
/* CSS for portfolio */
.portfolio-options {
  list-style-type: none;
}
.portfolio-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background: var(--our-team-background-color);
  border: none;
}
.portfolio-button:hover {
  background-color: var(--logo-color);
  color: var(--white);
}
.portfolio-button:focus {
  background-color: var(--logo-color);
  color: var(--white);
}
.projects {
  list-style-type: none;
}
.project-option-image {
  width: 370px;
  height: 294px;
}
.project-option-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
  color: var(--primary-color);
}
.project-option-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.navigation-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--logo-color);
}
